@media only screen and (min-width: 1680px) {
  /*===============nav============*/
  .ham-menu{
    display: none;
  }
  .nav-small{
    display: none;
  }
  /*===============heroHome============*/
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}
@media only screen and (min-width: 1200px) and (max-width: 1680px) {
  .container-new {
    max-width: 1200px;
  }
  .section{
    padding-top: 0;
  }
  /*===============nav============*/
  .navigation .logo {
    width: 180px;
  }
  .ham-menu{
    display: none;

  }
  .nav-small{
    display: none;
  }
  /*===============heroHome============*/
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}

@media only screen and (max-width: 1200px) {
html,body{
  font-size: 18px;
}
.section{
  padding-top: 0;
}
  /*===============nav============*/
  .navigation .logo{
    width: 150px;
    height: 70px;
  }
.navigation .nav-menu{
  display: none;
} 
.ham-menu{
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ham-menu::after, .ham-menu::before{
  content: "";
  position: absolute;
  width: 85%;
  height: 5%;
  background-color: #fff;
  transition: all 0.4s linear;
}
.ham-menu::before{
  transform: translateY(-15px);
  box-shadow: 0 15px 0 0 #fff;
}
.ham-menu::after{
  transform: translateY(15px);

}
/*.ham-menu.active::before{
  box-shadow: none;
  transform: translateY(0) rotate(45deg);
}
.ham-menu.active::after{
  transform: translateY(0) rotate(-45deg);

}*/
  .navigation{
    position: relative;  
    padding: 0;
    justify-content: flex-start;
  }
  .nav-small{
    position: fixed;
    left: -100%;
    top: 0;
    width: 300px;
    transition: all 0.8s linear;
    height: 100vh;
    background-color: #101010;
  }
  .nav-small ul{
    padding: 30px;
  }
  .nav-small ul li{
    padding: 5px 0;
  }
  .nav-small ul li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;    
    font-weight: 600;  
    color: #B2B2B2;
    

  }
  .nav-small .logo{
    width: 120px;
    height: 60px;
    fill: #fff;
  }
  .nav-small .nav-header{
    background-color: #202020;
    padding: 10px ;
  }
  .close-btn{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .close-btn::before, .close-btn::after{
    content: "";
    position: absolute;
    width: 85%;
    height: 5%;
    background-color: #ebb204;
  }
  .close-btn::before{
    transform: rotate(45deg);  

  }
  .close-btn::after{
    transform: rotate(-45deg);  
  }
  .slide-nav{
    left: 0;
    transition: all 0.8s linear;
  }
  /*===============heroHome============*/
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}
@media only screen and (max-width: 991px) {
  /*===============nav============*/
  /*===============heroHome============*/
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}
@media only screen and (max-width: 768px) {
  /*===============nav============*/
  /*===============heroHome============*/
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}
@media only screen and (max-width: 576px) {
  /*===============nav============*/
  /*===============heroHome============*/
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}

@media only screen and (max-width: 480px) {
  /*===============nav============*/
  /*===============heroHome============*/
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}
@media only screen and (max-width: 380px) {
  /*===============nav============*/
  /*===============heroHome============*/
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}
@media only screen and (max-width: 340px) {
  /*===============nav============*/
  /*===============heroHome============*/
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}