@media only screen and (min-width: 1680px) {
  /*===============nav============*/
  .ham-menu{
    display: none;
  }
  .nav-small{
    display: none;
  }
  /*===============heroHome============*/
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}
@media only screen and (min-width: 1200px) and (max-width: 1680px) {

  /*==========Common-Classes============*/
html,body{
  font-size: 20px;
}
.container-new {
  max-width: 1200px;
}

.hero-head {
  font-size: 2.8rem;
}

.hero-light {
  font-size: 2.8rem;
}

.para {
  font-size: 0.90rem;
  
}

.heading {
  font-size: 2.8rem;
}

.title-head {
  font-size: 0.9rem;
}

.sub-head {
  font-size: 1.5rem;
}
.small-title{
  font-size: 0.9rem;
}
.sub-title {
  font-size: 0.9rem;
}

.all-btn {
  font-size: 0.85rem;
  padding: 15px 30px;
}
.pro-btn{
  font-size: 0.85rem;
  padding: 5px 18px;  
  margin-right: 15px;

}
.section{
  padding: 35px 0;
}
.name{
  font-size: 1.5rem;
}
  /*===============nav============*/
  .navigation .logo {
    width: 180px;
  }
  .ham-menu{
    display: none;

  }
  .nav-small{
    display: none;
  }
  /*===============heroHome============*/
  .hero-section .slide{
    min-height: 650px;
  }
  .hero-slide .hero-content{
    width: 75%;
  }
  .brand-section{
    height: 650px;
  }
  .hero-section .slide-rihgt{
    left: 10px;
  }
  .hero-section .slide-left{
    right: 10px;
  }
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/
  .service-section .image img{
    height: 450px;
  }
  /*===============Contact=============*/

  /*===============Footer-section======*/
  /*===============media-query======*/
}

@media only screen and (max-width: 1200px) {
html,body{
  font-size: 16px;
}
.container-new {
  max-width: inherit;
}

.hero-head {
  font-size: 2.8rem;
}

.hero-light {
  font-size: 2.8rem;
}
.bg-panel{
  height: 80px;
}
.para {
  font-size: 1rem;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.heading {
  font-size: 2.8rem;
}

.title-head {
  font-size: 1rem;
}

.sub-head {
  font-size: 1.5rem;
}
.small-title{
  font-size: 1rem;
}
.sub-title {
  font-size: 1rem;
}

.all-btn {
  font-size: 0.95rem;
  padding: 15px 30px;
}
.pro-btn{
  font-size: 0.95rem;
  padding: 5px 18px;  
  margin-right: 15px;

}
.section{
  padding: 35px 0;
}
.name{
  font-size: 1.5rem;
}

  /*===============nav============*/
  .navigation .logo{
    width: 150px;
    height: 50px;
  }
.navigation .nav-menu{
  display: none;
} 
.ham-menu{
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.ham-menu::after, .ham-menu::before{
  content: "";
  position: absolute;
  width: 85%;
  height: 5%;
  background-color: #fff;
  transition: all 0.4s linear;
}
.ham-menu::before{
  transform: translateY(-15px);
  box-shadow: 0 15px 0 0 #fff;
}
.ham-menu::after{
  transform: translateY(15px);

}
/*.ham-menu.active::before{
  box-shadow: none;
  transform: translateY(0) rotate(45deg);
}
.ham-menu.active::after{
  transform: translateY(0) rotate(-45deg);

}*/
  .navigation{
    position: relative;  
    padding: 0;
    justify-content: flex-start;
  }
  .nav-small{
    position: fixed;
    left: -100%;
    top: 0;
    width: 300px;
    transition: all 0.8s linear;
    height: 100vh;
    background-color: #101010;
  }
  .nav-small ul{
    padding: 30px;
  }
  .nav-small ul li{
    padding: 5px 0;
  }
  .nav-small ul li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;    
    font-weight: 600;  
    color: #B2B2B2;
    

  }
  .nav-small .logo{
    width: 120px;
    height: 60px;
    fill: #fff;
  }
  .nav-small .nav-header{
    background-color: #202020;
    padding: 10px ;
  }
  .close-btn{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .close-btn::before, .close-btn::after{
    content: "";
    position: absolute;
    width: 85%;
    height: 5%;
    background-color: #ebb204;
  }
  .close-btn::before{
    transform: rotate(45deg);  

  }
  .close-btn::after{
    transform: rotate(-45deg);  
  }
  .slide-nav{
    left: 0;
    transition: all 0.8s linear;
  }
  .hero-section .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -50px;
  }
  .slick-dots li button{
    border: none;
    outline: none;
    background-color: #ebb204;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;

  } 
  .slick-dots li.slick-active{
    color: red;
    
  }
  /*===============heroHome============*/
  .hero-section{
    min-height: 500px;
  }
  .hero-section .slide{
    min-height: 500px;
  }
  .hero-slide .hero-content{ 
    width: 75%;
  }
  .brand-section{
    height: 600px;
  }
  .brand-section .partner img{
    width: 120px;
    object-fit: contain;
  }
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}
@media only screen and (max-width: 991px) {
  /*===============nav============*/
  /*===============heroHome============*/
  .team-section .whole-image{
    margin-bottom: 30px;
  }


  .footer-section img{
    height: auto;
  }
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}
@media only screen and (max-width: 768px) {
  /*===============nav============*/
  /*===============heroHome============*/
  .sub-head{
    text-align-last: center;
  }
  .content{
    text-align: center;
    margin: 25px 0;
  }
  .hero-slide .hero-content{
    width: 100%;
  }
  .service-type-section .content p{
    padding-top: 0;
  }
  .service-type-section .benefits{
    text-align: center;  
    padding-top: 0;
  }
  .service-type-section .content{
    margin: 0;
  }
  .project-section .num{
    font-size: 3rem;
  }
  .team-section .image{
    margin-bottom: 30px;
  }
  .brand-section .content{
    width: 100%;
  }
  .testimonial-section .person{
    margin: 0 40px;
  }
  .footer-section{
    margin-top: 0;
  }
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}
@media only screen and (max-width: 576px) {
  /*===============nav============*/
  /*===============heroHome============*/
  .ham-menu{
    width: 50px;
    height: 50px;
  }
  .section{
    padding: 20px 0;
  }
  .hero-head {
    font-size: 2.5rem;
  }

  .hero-light {
    font-size: 2.5rem;
  }
  
  .project-section .perform{
    text-align: center;
  }
  .project-section .num{
    display: block;
  }
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}

@media only screen and (max-width: 480px) {
  /*===============nav============*/
  /*===============heroHome============*/
  .hero-head{
    font-size: 1.8rem;
  }
  .hero-light{
    font-size: 1.8rem;
  }
  .sub-head{
    font-size: 1.2rem;
  }
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}
@media only screen and (max-width: 380px) {
  /*===============nav============*/
  /*===============heroHome============*/
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}
@media only screen and (max-width: 340px) {
  /*===============nav============*/
  /*===============heroHome============*/
  /*===============About===============*/

  /*===============Pages===============*/

  /*===============Portfolio===========*/

  /*===============service=============*/

  /*===============Contact=============*/

  /*===============Footer-section======*/

  /*===============media-query======*/
}