.port-hero-section{
    width: 100%;
    height: 100vh;
    min-height: 650px;
    background-image: url(../Image/Jpg/bg-home-2.jpg);

}
.port-gallery .port-nav{
    justify-content: center; 
    padding: 100px 0;

}
.port-nav ul{
    border: none;
}
.port-nav li a{
    color: #101010;
    text-transform: uppercase;
    font-size: 0.85rem;

}

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 100px);
    grid-gap: 15px;
}
.gallery-grid  .image{
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.gallery-grid .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;   
    transition: all 0.4s linear;
    
}
.gallery-grid .image:hover img{
    transform: scale(1.2);
}
.gallery-grid .image1{
    grid-area: 1/1/4/2;

}
.grid-content{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: #Fff;
}
.gallery-grid .image2{
    grid-area: 1/2/6/3;

}
.gallery-grid .image3{
    grid-area: 1/3/5/4;


}
.gallery-grid .image4{
    grid-area: 4/1/9/2;

}
.gallery-grid .image5{
    grid-area: 6/2/10/3;


}
.gallery-grid .image6{
    grid-area: 5/3/8/4;

}
/*
.gallery-grid .project1 img{
    height: 250px;
}
.gallery-grid .project2 img{
    height: 450px;
}
.gallery-grid .project3 img{
    height: 350px;
}
.gallery-grid .project4 img{
    height: 350px;
}
.gallery-grid .project5 img{
    height: 450px;
}
.gallery-grid .project6 img{
    height: 250px;
}
*/

.port-gallery .port-nav li a.active{
    border: 0;
    background: none;
    color: #ebb204;
}