*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 24px;
  width: 100%;
  height: 100%;
  font-family: "Yantramanav", sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

/*==========Common-Classes============*/
.container-new {
  max-width: 1440px;
}

.hero-head {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-light {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.para {
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 10px;
  color: #606060;
  
}
.para-white{
  color: #fff;
}
.heading {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.title-head {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #ebb204;
  font-weight: 500;
}
.sub-head {
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}
.small-head{
  font-size: 1rem;
  font-weight: 500;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}
.small-title{
  font-size: 0.85rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.sub-title {
  font-size: 0.85rem;
  font-weight: 400;
  color: #aaa;
}

.title{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.all-btn {
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 15px 30px;
  background-color: #ebb204;
  color: #101010;
  font-weight: 400;
  display: inline-block;
  border-radius: 0;
}
.pro-btn{
  border: 2px solid #fff;
  border-radius: 35px;
  font-size: 0.75rem;
  padding: 5px 18px;  
  text-transform: uppercase;

  background-color: transparent;
  color: #fff;
  margin-right: 15px;

}
.center-item{
  justify-content: center;
  align-items: center;
}

.bg-image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section{
  padding: 50px 0;
}
.flex-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.para-test{
  font-family: 'Lora', serif;
  margin-top: 20px;
  margin-right: 15px;
}
.name{
  font-size: 1.2rem;
  font-weight: 500;
  color: #101010;
  margin: 0;
}
.read-more{
  color: #ebb204;
  background: transparent;
  padding-left: 0;
}
.num{
  font-size: 4rem;
  font-weight: 300;
}
.color-white{
  color: #fff;
}
.para-white{
  color: #FBFBFB;
}
.light-title{
  font-weight: 400;
  color: #ebb204;
}
.stand-title{
    color: #606060;
}
.hero-header{
   
}