/*==========Color-var=================*/
$contentColor: #fff;
$btnColor: #ebb204;
$textColor: #606060;
$smallTextColor: #101010;
$headerColor:#111;
$tagColor: #aaa;
$graColor: #c89805;
$borderColor: #e5e5e5;
$inputbgColor: #f6f6f6;
$formbgColor: #f8f8f6;
$inputborderColor: #e0e0e0;
/*==========Font-var==================*/
$mainFont: 'Yantramanav', sans-serif;
$testiFont: 'Lora', serif;
/*==========Mixin=====================*/
/*==========Extend====================*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 24px;
    width: 100%;
    height: 100%;
    font-family: $mainFont;
}
ul{
    li{
        list-style-type: none;
    }
}
a{
    text-decoration: none;

}
/*==========Common-Classes============*/
.hero-head{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;

}
.hero-light{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.para{
    font-size: 0.85rem; 
    font-weight: 400;
    margin-bottom: 10px;
}
.heading{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.title-head{
    font-size: 0.85rem;
    text-transform: uppercase;
    color: $btnColor;
    font-weight: 500;
}
.sub-head{
    font-size: 1.5rem;  
    font-weight: 600;
}
.sub-title{
    font-size: 0.85rem;
    font-weight: 400;
    color: $tagColor;

}
.all-btn{
    text-transform: uppercase;
    font-size: 0.85rem;
    padding: 15px 30px;
    background-color: $btnColor; 
    color: $smallTextColor;
    font-weight: 400;
    display: inline-block; 
}
/*===============nav============*/ 
@import "nav"; 
    
/*===============heroHome============*/ 
@import "heroHome";

/*===============About===============*/
@import "about";

/*===============Pages===============*/
@import "pages";

/*===============Portfolio===========*/
@import "portfolio";

/*===============service=============*/
@import "service";

/*===============Contact=============*/
@import "contact";

/*===============Footer-section======*/ 
@import "footer";
